:root {
  --text-color: #312a4e;
  --bg-color: #f3efec;
  --accent-color: #ffab6b;
  --main-font: 'Raleway';
}

.theme_dark {
  --text-color: #b3b3b3;
  --bg-color: #171717;
  --accent-color: transparent;
}

.content-section {
  padding: 0 5vw;
}

.heading {
  font: 600 30px/.9 'STIX Two Text', serif;
  text-align: center;
}

.page {
  min-width: 360px;
  margin: 0 auto;
  padding: 0;
  color: var(--text-color);
  background-color: var(--bg-color);
  box-sizing: border-box;
}

.header {
  padding: 10% 0 0;
}

.header__title {
  margin: 0 0 40px;
  padding: 0;
  font-size: clamp(3.75rem, 2.5rem + 5.5556vw, 7.5rem);
}

.header__menu {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
}

.header__logo {
  margin: 0;
  padding: 20px 0;
}

.header__theme-toggler {
  display: flex;
  column-gap: 20px;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header__theme-button {
  margin: 0;
  padding: 0;
  font: 400 18px/1.5 var(--main-font), sans-serif;
  color: currentColor;
  border: none;
  background-color: transparent;
  transition: opacity .15s ease;
}

.header__theme-button:focus {
  outline: none;
}

.header__theme-button:focus-visible {
  outline: 1px solid currentColor;
}

.header__theme-button:hover {
  cursor: pointer;
  text-decoration: underline;
  opacity: .7;
  outline: none;
}

.header__theme-button_is-active {
  position: relative;
  font-weight: 700;
  pointer-events: none;
}

.header__theme-button_is-active::before {
  position: absolute;
  content: '';
  left: -4%;
  bottom: 6px;
  width: 113%;
  height: 5px;
  background-color: var(--accent-color);
  z-index: -1;
}

.theme_dark .header__theme-button_is-active::before {
  background-image: url(../images/pattern.svg);
}

.content {
  box-sizing: border-box;
}

.content__title {
  margin: 7.2% 0 2.6%;
  padding: 0;
}

.content__text-block {
  font: 400 18px/1.2 var(--main-font), sans-serif;
}

.content__paragraph {
  margin: 0;
  padding: 0;
}

.content__text-block > .content__paragraph:not(:nth-last-child(1)) {
  margin: 0 0 1.5em;
}

.content__text-block_type_first-lettered > .content__paragraph:first-child::first-letter {
  display: inline-block;
  margin: 0 5px 0 -6px;
  padding: 0 4px;
  font: 700 30px/1 var(--main-font), sans-serif;
  background-color: var(--accent-color);
}

.theme_dark .content__text-block_type_first-lettered > .content__paragraph:first-child::first-letter {
  border: 1px solid currentColor;
}

.content__link {
  color: currentColor;
  transition: opacity .15s ease;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}

.content__link:focus {
  outline: none;
}

.content__link:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 2px;
}

.content__link:hover {
  cursor: pointer;
  opacity: .7;
  outline: none;
}

.content__figure {
  position: relative;
  left: -5vw;
  margin: 7.3% 0 7%;
  padding: 0;
  width: calc(100% + 10vw);
  border-bottom: 1px solid currentColor;
}

.content__picture {
  width: 100%;
  object-position: center;
  object-fit: cover;
}

.content__picture-caption {
  margin: 16px 0 16px;
  font: 400 18px/1.5 var(--main-font), sans-serif;
  text-align: center;
}

.content__blockquote {
  margin: 1.6em auto 1.6em;
  padding: 0;
  width: 75%;
  font: italic 400 18px/1.95 var(--main-font), sans-serif;
}

.content__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 7.1% 0 0;
  width: 100%;
  aspect-ratio: 4 / 3;
  border: 1px solid currentColor;
}

.content__card-title {
  margin: 5px 0 0;
  padding: 0;
  font-size: 60px;
}

.content__card-subtitle {
  margin: 0;
  padding: 0;
  text-align: center;
  font: 400 18px/1.5 var(--main-font), sans-serif;
}

.colored-text {
  position: relative;
  display: inline-block;
}

.colored-text::after {
  position: absolute;
  content: '';
  bottom: 7px;
  left: -1%;
  width: 103%;
  height: .25em;
  background-color: var(--accent-color);
  z-index: -1;
}

.theme_dark .colored-text::after {
  background-image: url(../images/pattern.svg);
}

.content__list {
  margin: 0;
  padding: 0 0 0 39px;
  list-style: none;
}

.content__list-item {
  position: relative;
  margin: 0 0 9px;
  padding: 0;
}

.content__list-item:last-child {
  margin: 0;
}

.content__list-item::before {
  position: absolute;
  content: '';
  top: 50%;
  left: -26px;
  margin: -7.5px 0 0;
  width: 15px;
  height: 15px;
  background-image: url(../images/marker-light.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.theme_dark .content__list-item::before {
  background-image: url(../images/marker-dark.svg);
}

.footer {
  margin: 10% 0 0;
  padding: 2.5%;
  border-top: 1px solid currentColor;
}

.footer__copyright {
  margin: -3px;
  padding: 0;
  font: 400 18px/1.5 var(--main-font), sans-serif;
  color: currentColor;
  text-align: center;
}
